<% layout('layouts/warmerPlate') %>   
  <div class="container ">
    <div class="write-on-text"></div>
    <div class="row">
      <div class=" newsletter ">
        <form action="/drivers" method="GET" class="form-inline">
          <input type="search" name="search" placeholder="Search with name">
          <button>Search</button>
        </form>
      </div>
    </div>
    
    
  </div>
  

  